.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%; /* Ensure full height of the viewport */
    color: #FFF0CE;
    font-size: 20px;
  }

  .task{
    max-width: 60vw;
  text-align: center;
  }
  .button-container {
    display: flex;
    justify-content: space-between; /* Adjust as needed, e.g., space-around or space-evenly */
    width: 60vw; /* Set a maximum width */
    margin-top: 20px; /* Add some top margin */
  }

  .buttonAnswer{
    background-color: #0C356A;
    color: #FFF0CE;
    font-size: 20px;
  }