.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  color: #fff0ce;
  font-size: 20px;
}

.task {
  max-width: 60vw;
  text-align: center;
}
.button-container {
  display: flex;
  justify-content: space-between;
  width: 60vw;
  margin-top: 20px;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
    width: 80vw;
    align-items: center;
  }
}

.buttonAnswer {
  background-color: #0c356a;
  color: #fff0ce;
  font-size: 20px;
}

.buttonAnswer :disabled,
button[disabled]{
  background-color: #0c356a !important;
  color: #fff0ce!important;
  font-size: 20px !important;
}
