.App {
  text-align: center;
  background-color: #0174BE;
  min-height: 100vh;
  height: 100%;
  position: relative;
}

.listLook{
  width: 80vw;
  margin: 0 auto; /* Center the container horizontally */
  text-align: center; /* Center the inline children (if any) */
}

.wrappedItemFromList{
  display: grid;
  width: 80vw;
  box-sizing: border-box; 
  margin-bottom: 25px;
  padding: 10px; 
  border-radius: 5px;
}

.itemFromList{
  background-color: #FFC436;
  color: #0C356A;
  padding: 20px 0;
  font-size: 20px;
}

.itemFromList:hover{
  background-color: #0C356A;
  color: #FFF0CE ;
}