.partContainer {
    margin-top: 20px;
  }
  
  .inlineInput {
    display: flex;
    align-items: center;
  }
  
  .inlineInput p {
    margin-right: 10px;
  }
  
  .buttonCheck{
    background-color: #0C356A;
    color: #FFC436;
    font-size: 20px;
  }

  .buttonCheck:hover{
    color: #FFF0CE;
    font-size: 20px;
  }

  .formLen1{
    width: 40px;
    text-align: center;
    @media only screen and (max-width: 600px) {
      width: 40px;
    }
  }

  .formLen2{
    width: 70px;
    text-align: center;
    @media only screen and (max-width: 600px) {
      width: 70px;
    }
  }

  .formLen3{
    width: 90px;
    text-align: center;
    @media only screen and (max-width: 600px) {
      width: 82px;
    }
  }